# systemd unit
[Unit]
Description=EC2 SSM Config File Service
After=network.target

# run the command once at boot
[Service]
Type=oneshot
ExecStart=/usr/bin/ec2-ssm-service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target